In [ ]:
import pandas as pd

# Load the dataset (assuming it's in Excel format)
df = pd.read_excel("OnlineRetail.xlsx")

# Display basic information about the dataset
print("Original Data Summary:")
print(df.info())

Original Data Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   InvoiceTime  541909 non-null  datetime64[ns]
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 37.2+ MB
None

In [ ]:
columns_to_drop = ['Description', 'InvoiceNo']
df = df.drop(columns=columns_to_drop, errors='ignore')

In [ ]:
df = df.dropna()

In [ ]:
df = df[(df['Quantity'] >= 0) & (df['UnitPrice'] >= 0)]

In [ ]:
df.to_excel("cleaned_data.xlsx", index=False)